VeptasOrderWebAPI_Jason/VeptasOrderAPI/VeptasOrderAPI/Service References/VeptasOrderAPIService/VeptasIntegratorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VeptasIntegratorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IVeptasIntegratorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://testintg.veptas.com/VeptasIntegratorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://testintg.veptas.com/VeptasIntegratorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://testintg.veptas.com/VeptasIntegratorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VeptasIntegratorService.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVeptasIntegratorService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IVeptasIntegratorService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IVeptasIntegratorService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IVeptasIntegratorService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IVeptasIntegratorService_GetOrderStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatus" />
  </wsdl:message>
  <wsdl:message name="IVeptasIntegratorService_GetOrderStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IVeptasIntegratorService_RateAcceptReject_InputMessage">
    <wsdl:part name="parameters" element="tns:RateAcceptReject" />
  </wsdl:message>
  <wsdl:message name="IVeptasIntegratorService_RateAcceptReject_OutputMessage">
    <wsdl:part name="parameters" element="tns:RateAcceptRejectResponse" />
  </wsdl:message>
  <wsdl:portType name="IVeptasIntegratorService">
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IVeptasIntegratorService/CreateOrder" message="tns:IVeptasIntegratorService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVeptasIntegratorService/CreateOrderResponse" message="tns:IVeptasIntegratorService_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IVeptasIntegratorService/SendMessage" message="tns:IVeptasIntegratorService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVeptasIntegratorService/SendMessageResponse" message="tns:IVeptasIntegratorService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IVeptasIntegratorService/GetOrderStatus" message="tns:IVeptasIntegratorService_GetOrderStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVeptasIntegratorService/GetOrderStatusResponse" message="tns:IVeptasIntegratorService_GetOrderStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RateAcceptReject">
      <wsdl:input wsaw:Action="http://tempuri.org/IVeptasIntegratorService/RateAcceptReject" message="tns:IVeptasIntegratorService_RateAcceptReject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVeptasIntegratorService/RateAcceptRejectResponse" message="tns:IVeptasIntegratorService_RateAcceptReject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVeptasIntegratorService" type="tns:IVeptasIntegratorService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IVeptasIntegratorService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IVeptasIntegratorService/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/IVeptasIntegratorService/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatus">
      <soap:operation soapAction="http://tempuri.org/IVeptasIntegratorService/GetOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RateAcceptReject">
      <soap:operation soapAction="http://tempuri.org/IVeptasIntegratorService/RateAcceptReject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VeptasIntegratorService">
    <wsdl:port name="BasicHttpBinding_IVeptasIntegratorService" binding="tns:BasicHttpBinding_IVeptasIntegratorService">
      <soap:address location="https://testintg.veptas.com/VeptasIntegratorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>