VeptasOrderWebAPI_Jason/VeptasOrderAPI/VeptasOrderAPI/Service References/VeptasOrderAPIService/VeptasIntegratorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://testintg.veptas.com/VeptasIntegratorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VeptasIntegratorService.DTO" />
  <xs:element name="CreateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VeptasIntegratorService.DTO" minOccurs="0" name="objVeptasOrderRequest" nillable="true" type="q1:VeptasOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VeptasIntegratorService.DTO" minOccurs="0" name="CreateOrderResult" nillable="true" type="q2:VeptasOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VeptasIntegratorService.DTO" minOccurs="0" name="objMessageRequest" nillable="true" type="q3:MessageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VeptasIntegratorService.DTO" minOccurs="0" name="SendMessageResult" nillable="true" type="q4:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VeptasIntegratorService.DTO" minOccurs="0" name="objOrderStatusRequest" nillable="true" type="q5:OrderStatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VeptasIntegratorService.DTO" minOccurs="0" name="GetOrderStatusResult" nillable="true" type="q6:OrderStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateAcceptReject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VeptasIntegratorService.DTO" minOccurs="0" name="objRateAcceptReject" nillable="true" type="q7:RateAcceptReject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateAcceptRejectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VeptasIntegratorService.DTO" minOccurs="0" name="RateAcceptRejectResult" nillable="true" type="q8:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>