VeptasOrderWebAPI_Jason/VeptasOrderAPI/VeptasOrderAPI/Service References/VeptasOrderAPIService/VeptasIntegratorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VeptasIntegratorService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VeptasIntegratorService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VeptasOrderRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DirectAssigned" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRateAcceptanceRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="MISMODocument" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="additionalDetail" nillable="true" type="tns:AdditionalDetail" />
      <xs:element minOccurs="0" name="borrowerDetail" nillable="true" type="tns:BorrowerDetail" />
      <xs:element minOccurs="0" name="credentials" nillable="true" type="tns:Credentials" />
      <xs:element minOccurs="0" name="customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="loanDetail" nillable="true" type="tns:LoanDetail" />
      <xs:element minOccurs="0" name="productDetail" nillable="true" type="tns:ProductDetail" />
      <xs:element minOccurs="0" name="propertyDetail" nillable="true" type="tns:PropertyDetail" />
      <xs:element minOccurs="0" name="subjectProperty" nillable="true" type="tns:SubjectProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VeptasOrderRequest" nillable="true" type="tns:VeptasOrderRequest" />
  <xs:complexType name="AdditionalDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsIsAndRepairedValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="CertifiedGreenHome" type="xs:boolean" />
      <xs:element minOccurs="0" name="CondotelHomeLocatedInOrOnSKIResortGolfCourse" type="xs:boolean" />
      <xs:element minOccurs="0" name="Form1007" type="xs:boolean" />
      <xs:element minOccurs="0" name="Form216" type="xs:boolean" />
      <xs:element minOccurs="0" name="Geoesic" type="xs:boolean" />
      <xs:element minOccurs="0" name="HomeWithGraterThan10Acres" type="xs:boolean" />
      <xs:element minOccurs="0" name="HoneOnHistoricRegistry" type="xs:boolean" />
      <xs:element minOccurs="0" name="K203" type="xs:boolean" />
      <xs:element minOccurs="0" name="LeaseHoldInterest" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogHome" type="xs:boolean" />
      <xs:element minOccurs="0" name="MultipleparcelsOnOneAppraisals" type="xs:boolean" />
      <xs:element minOccurs="0" name="NewConstruction" type="xs:boolean" />
      <xs:element minOccurs="0" name="PropertyrequiresAlternateTransportaion" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResidentiallyZonedHomeWithWorkingFarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="WaterFront" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalDetail" nillable="true" type="tns:AdditionalDetail" />
  <xs:complexType name="BorrowerDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Borrower1Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Borrower1FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Borrower1LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Borrower1MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Borrower1PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Borrower2Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Borrower2FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Borrower2LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Borrower2MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Borrower2PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BorrowerCheck" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BorrowerDetail" nillable="true" type="tns:BorrowerDetail" />
  <xs:complexType name="Credentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credentials" nillable="true" type="tns:Credentials" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditReceiptNotification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditReceiptNotificationId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MasterCompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="MasterCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotificationEmailId1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotificationEmailId2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotificationEmailId3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="SubCustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId1" type="xs:int" />
      <xs:element minOccurs="0" name="UserId2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="LoanDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="BorrowerEstimate" type="xs:double" />
      <xs:element minOccurs="0" name="LoanId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaseAmount" type="xs:double" />
      <xs:element minOccurs="0" name="SalesContractImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesContractImageFormat" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanDetail" nillable="true" type="tns:LoanDetail" />
  <xs:complexType name="ProductDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDetail" nillable="true" type="tns:ProductDetail" />
  <xs:complexType name="PropertyDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="FhaCaseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Investor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OcupanceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyDetail" nillable="true" type="tns:PropertyDetail" />
  <xs:complexType name="SubjectProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="PropertyAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyZipcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubjectProperty" nillable="true" type="tns:SubjectProperty" />
  <xs:complexType name="VeptasOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListAppraisers" nillable="true" type="tns:ArrayOfAppraisers" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rateDetail" nillable="true" type="tns:RateDetail" />
      <xs:element minOccurs="0" name="status" nillable="true" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VeptasOrderResponse" nillable="true" type="tns:VeptasOrderResponse" />
  <xs:complexType name="ArrayOfAppraisers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Appraisers" nillable="true" type="tns:Appraisers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppraisers" nillable="true" type="tns:ArrayOfAppraisers" />
  <xs:complexType name="Appraisers">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppraiserId" type="xs:double" />
      <xs:element minOccurs="0" name="AppraiserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Appraisers" nillable="true" type="tns:Appraisers" />
  <xs:complexType name="RateDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppraiserBaseFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppraiserFeePlusOptions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BorrowerAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComplexityScore" nillable="true" type="tns:ComplexityScore" />
      <xs:element minOccurs="0" name="CreditCardFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VeptasFee" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RateDetail" nillable="true" type="tns:RateDetail" />
  <xs:complexType name="ComplexityScore">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComplexityAlgorithm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComplexityFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HighPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NegativeVariance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value1003" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VarianceGreaterThan30" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplexityScore" nillable="true" type="tns:ComplexityScore" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="NoOfError" type="xs:int" />
      <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorDetail" nillable="true" type="tns:ArrayOfErrorDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="ArrayOfErrorDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorDetail" nillable="true" type="tns:ErrorDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorDetail" nillable="true" type="tns:ArrayOfErrorDetail" />
  <xs:complexType name="ErrorDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorDetail" nillable="true" type="tns:ErrorDetail" />
  <xs:complexType name="MessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Credentials" nillable="true" type="tns:Credentials" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="tns:Message" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageRequest" nillable="true" type="tns:MessageRequest" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageTo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="OrderStatusRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Credentials" nillable="true" type="tns:Credentials" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderStatusRequest" nillable="true" type="tns:OrderStatusRequest" />
  <xs:complexType name="OrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Status" />
      <xs:element minOccurs="0" name="complexityScore" nillable="true" type="tns:ComplexityScore" />
      <xs:element minOccurs="0" name="listDocument" nillable="true" type="tns:ArrayOfDocument" />
      <xs:element minOccurs="0" name="orderStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderStatus" nillable="true" type="tns:OrderStatus" />
  <xs:complexType name="ArrayOfDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentContain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:complexType name="RateAcceptReject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Appraisers" nillable="true" type="tns:Appraisers" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RateAccept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="credentials" nillable="true" type="tns:Credentials" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RateAcceptReject" nillable="true" type="tns:RateAcceptReject" />
</xs:schema>